{{page-title "Ember PlantUML"}}
<header>
  <h1>Ember PlantUML</h1>
</header>
<div class="grid-col">
  <aside>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <details>
        <summary>Components</summary>
        {{#each @model.components as |component|}}
          <li>
            <LinkTo @route="uml" @query={{hash folder="app/components" file=component}}>{{component}}</LinkTo>
          </li>
        {{/each}}
        </details>
        <details>
        <summary>Models</summary>
        {{#each @model.models as |model|}}
          <li>
            <LinkTo @route="uml" @query={{hash folder="app/models" file=model}}>{{model}}</LinkTo>
          </li>
        {{/each}}
        </details>
      </ul>
    </nav>
  </aside>
  <main>
    {{outlet}}
  </main>
</div>
